# pyright configuration
pyrightconfig.json

# cache
__pycache__/

# Environments
.*venv

# data directory
gtzan
logs

# model checkpoints
*checkpoints
*ckpt

# test scripts
*test.ipynb
*test.py
*test.yml
