# for analysis stuff
numpy>=2.3.4
pandas>=2.3.3

# loading wav and mp3 files into numpy arrays
librosa>=0.11

# parsing stuff
pyyaml>=6.0.3

# logging stuff
tensorboard>=2.20
tqdm>=4.67.1

# for 8bit optimizers
bitsandbytes[security]>=0.48.2

# misc
ipykernel[security]>=7.0.1